$color: yellow;
$hover-color: green;

body.zombie {
  background: url('../images/bg.png'), -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #012212), color-stop(100%, #000600));
  background: url('../images/bg.png'), -webkit-linear-gradient(#012212, #000600);
  background: url('../images/bg.png'), -moz-linear-gradient(#012212, #000600);
  background: url('../images/bg.png'), -o-linear-gradient(#012212, #000600);
  background: url('../images/bg.png'), linear-gradient(#012212, #000600);

  //@include background(linear-gradient(#012212, #000600));

  #container {
    background: #012212 url('../images/zombie/cemetery-2.jpg') no-repeat;
    .target {
      &:hover {
        background-color: lighten(#576460, 45%) !important;
      }
      &.front {
        background: #fff url('../images/zombie/target.png') 0 0 no-repeat;
      }

      .remaining {
        background: #f00;
      }

      @for $i from 1 through 3 {
        &.target-#{$i} {
          background: #fff url('../images/zombie/zombie-#{$i}.png') 15px 10px no-repeat;
          &.target-hit {
            background: url('../images/zombie/cross.png') 10px 10px no-repeat, #fff url('../images/zombie/zombie-#{$i}.png') 15px 10px no-repeat;
          }
        }
      }
    }

    .start {
      @include background(linear-gradient(#0d4319, #07150e));
      @include box-shadow(#0d4319 0 0 0 1px);
      border: 1px solid #0b2217;
      border-bottom: 1px solid #0b2217;
      text-shadow: 0 -1px 0 #4c9021;
      &:hover {
        @include background(linear-gradient(#07150e, #0d4319));
        @include box-shadow(#0d4319 0 0 0 1px);
      }
      &:active {
        border: 1px solid #07230e;
        @include box-shadow(#07230e 0 0 0 2px);
      }
    }

    .stats {
      background: none repeat scroll 0% 0% rgba(1, 34, 18, 0.95);
      border: 1px solid yellow;
    }

    .score {
      &.shrink {
        color: red;
      }
      &.grow {
        color: green;
      }
    }

    .timer {
      color: $color;
    }

    .highscore {
      color: $color;
    }

    .multiplier {
      .text {
        color: $color;
      }
      .bar {
        border: 2px solid $color;
        .progress {
          background: #64c15c;
        }
      }
    }
  }
  .theme {
    border: 3px solid #d49299;
    background: #000 url('../images/cat/icon.png') 5px 5px no-repeat;
  }
}