$color: white;

body.cat {
  background: url('../images/bg.png'), -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #4f1a1c), color-stop(100%, #000600));
  background: url('../images/bg.png'), -webkit-linear-gradient(#4f1a1c, #000600);
  background: url('../images/bg.png'), -moz-linear-gradient(#4f1a1c, #000600);
  background: url('../images/bg.png'), -o-linear-gradient(#4f1a1c, #000600);
  background: url('../images/bg.png'), linear-gradient(#4f1a1c, #000600);

  #container {
    border: 1px solid #401f1f;
    background: #2f1211 url('../images/cat/bg.png');
    .target {
      &:hover {
        background-color: lightpink !important;
      }
      &.front {
        background: url('../images/cat/plate.png') 0 0 no-repeat;
      }

      .remaining {
        background: #b03500;
      }

      @for $i from 1 through 3 {
        &.target-#{$i} {
          background: #fff url('../images/cat/cat-#{$i}.png') 10px 10px no-repeat;
          &.target-hit {
            background: url('../images/cat/cross.png') 10px 10px no-repeat, #fff url('../images/cat/cat-#{$i}.png') 10px 10px no-repeat;
          }
        }
      }
    }

    .start {
      @include background(linear-gradient(#3a1d1c, #2f1211));
      border: 1px solid #0e1212;
      border-bottom-color: #0e1212;
      text-shadow: 0 -1px 0 #4c9021;
      @include box-shadow(inset 0 1px 0 0 #3a1d1c);
      &:hover {
        @include background(linear-gradient(#2f1211, #3a1d1c));
        @include box-shadow(inset 0 1px 0 0 #3a1d1c);
      }
      &:active {
        border: 1px solid #231211;
        border-bottom: 1px solid #231211;
        @include box-shadow(inset 0 0 8px 4px #231211, 0 1px 0 0 #131212);
      }
    }

    .stats {
      background: none repeat scroll 0% 0% rgba(87, 37, 39, 0.95);
      border: 1px solid #ffffff;
    }

    .score {
      text-shadow: $color 0px 0px 10px;

      &.shrink {
        color: #1f1f1f;
      }
      &.grow {
        color: #812d2e;
      }
    }

    .timer {
      color: $color;
    }

    .highscore {
      color: $color;
    }

    .multiplier {
      .text {
        color: $color;
      }
      .bar {
        border: 2px solid $color;
        .progress {
          background: #d49299;
        }
      }
    }
  }
  .theme {
    border: 3px solid #0c3f18;
    background: url('../images/zombie/icon.png') 2px 3px no-repeat;
  }
}