* {
  padding: 0;
  margin: 0;
  font-family: 'PT Sans Caption';
}

html, body {
  width: 100%;
  height: 100%;
}

#author {
  color: #fff;
  display: block;
  width: 110px;
  padding-left: 3px;
}

#author:hover {
  text-decoration: none;
}

.addthis_toolbox {
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 0;
}

body {
  overflow: hidden;
}

body.webkit {
  background: url('../images/alpha.png') 0 0 no-repeat, url('../images/bg.png'), -webkit-linear-gradient(#012212, #000600);
}

body.webkit #sound {
  display: block !important;
}

body.firefox {
  background: url('../images/alpha.png') center center no-repeat, url('../images/bg.png'), -moz-linear-gradient(#012212, #000600);
}

body.opera {
  background: url('../images/alpha.png') center center 0 no-repeat, url('../images/bg.png'), -o-linear-gradient(#012212, #000600);
}

body.ipad div, body.ipad button {
  box-shadow: none !important;
  text-shadow: none !important;
  -webkit-box-shadow: none !important;
}

body.ipad #game-container {
  width: 1024px !important;
  height: 768px !important;
  top: 0;
  left: 0;
  margin: 0;
}

body.android div, body.android button {
  box-shadow: none !important;
  text-shadow: none !important;
  -webkit-box-shadow: none !important;
}

body.android #game-container {
  width: 100% !important;
  height: 100% !important;
  position: relative;
  top: 0;
  left: 0;
  margin: 0;
}

body #game-container {
  border: 1px solid #222;
  position: absolute;
  z-index: 2;
  box-shadow: 0 0 10px #000;
  -moz-box-shadow: 0 0 10px #000;
  -webkit-box-shadow: 0 0 10px #000;
  -webkit-transform: rotatey(0deg);
  overflow: hidden;
  position: absolute;
  width: 800px;
  height: 600px;
  top: 50%;
  left: 50%;
  margin: -300px 0 0 -400px;
  background: #666666 url('../images/cemetery-2.png') no-repeat;
}

body #game-container #overlay {
  position: absolute;
  z-index: 10;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.4);
}

body #game-container #score {
  font-size: 100px;
  font-weight: normal;
  color: yellow;
  text-align: center;
  text-shadow: black 0px 0px 10px;
  z-index: 9;
}

body #game-container #sound {
  display: none;
  position: absolute;
  bottom: 0px;
  left: 10px;
  width: 128px;
  height: 128px;
  z-index: 11;
}

body #game-container #sound.on {
  background: transparent url('../images/sound-on.png') 0 0 no-repeat;
}

body #game-container #sound.off {
  background: transparent url('../images/sound-off.png') 0 0 no-repeat;
}

body #game-container #highscore {
  font-size: 25px;
  color: yellow;
  text-align: left;
  text-shadow: black 0px 0px 10px;
  z-index: 9;
  position: absolute;
  top: 5px;
  left: 15px;
}

body #game-container #timer {
  position: absolute;
  top: 10px;
  right: 20px;
  font-size: 40px;
  color: yellow;
  text-align: center;
  text-shadow: black 0px 0px 10px;
  z-index: 9;
}

body #game-container #start {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 200px;
  height: 50px;
  margin: -25px 0 0 -100px;
  z-index: 11;
  border: 5px solid #022206;
  border-radius: 5px;
  font-size: 30px;
  background: -webkit-linear-gradient(darkGreen, #002515);
  cursor: pointer;
  text-align: center;
  color: #cecece;
}

body #game-container #start:hover {
  background: -webkit-linear-gradient(darkGreen, #002515);
  color: #ffffff;
  border-color: #023208;
}

body #game-container #start:active {
  width: 190px;
  height: 44px;
  font-size: 25px;
  margin: -22px 0 0 -95px;
}

body #game-container .target-container {
  position: absolute;
  z-index: 1;
}

body #game-container .target-container .target {
  width: 100px;
  height: 100px;
  border: 2px solid #000;
  border-radius: 50px;
  background: #fff;
  cursor: pointer;
}

body #game-container .target-container .target.front {
  background: #ffffff url('../images/target.png') 0 0 no-repeat;
}

body #game-container .target-container .target.zombie.zombie-1 {
  background: #ffffff url('../images/zombie-1.png') 25px 10px no-repeat;
}

body #game-container .target-container .target.zombie.zombie-1.zombie-dead {
  background: url('../images/cross.png') 10px 10px no-repeat, #ffffff url('../images/zombie-1.png') 25px 10px no-repeat;
}

body #game-container .target-container .target.zombie.zombie-2 {
  background: #ffffff url('../images/zombie-2.png') 15px 10px no-repeat;
}

body #game-container .target-container .target.zombie.zombie-2.zombie-dead {
  background: url('../images/cross.png') 10px 10px no-repeat, #ffffff url('../images/zombie-2.png') 15px 10px no-repeat;
}

body #game-container .target-container .target.zombie.zombie-3 {
  background: #ffffff url('../images/zombie-3.png') 15px 10px no-repeat;
}

body #game-container .target-container .target.zombie.zombie-3.zombie-dead {
  background: url('../images/cross.png') 10px 10px no-repeat, #ffffff url('../images/zombie-3.png') 15px 10px no-repeat;
}