body.cat {
  background: url("../images/bg.png"), -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #4f1a1c), color-stop(100%, #000600));
  background: url("../images/bg.png"), -webkit-linear-gradient(#4f1a1c, #000600);
  background: url("../images/bg.png"), -moz-linear-gradient(#4f1a1c, #000600);
  background: url("../images/bg.png"), -o-linear-gradient(#4f1a1c, #000600);
  background: url("../images/bg.png"), linear-gradient(#4f1a1c, #000600); }
  body.cat .game-container {
    border: 1px solid #401f1f;
    background: #2f1211 url("../images/cat/bg.png"); }
    body.cat .game-container .target.front {
      background: url("../images/cat/plate.png") 0 0 no-repeat; }
    body.cat .game-container .target.target-1 {
      background: white url("../images/cat/cat-1.png") 10px 10px no-repeat; }
      body.cat .game-container .target.target-1.target-hit {
        background: url("../images/cat/cross.png") 10px 10px no-repeat, white url("../images/cat/cat-1.png") 10px 10px no-repeat; }
    body.cat .game-container .target.target-2 {
      background: white url("../images/cat/cat-2.png") 10px 10px no-repeat; }
      body.cat .game-container .target.target-2.target-hit {
        background: url("../images/cat/cross.png") 10px 10px no-repeat, white url("../images/cat/cat-2.png") 10px 10px no-repeat; }
    body.cat .game-container .target.target-3 {
      background: white url("../images/cat/cat-3.png") 10px 10px no-repeat; }
      body.cat .game-container .target.target-3.target-hit {
        background: url("../images/cat/cross.png") 10px 10px no-repeat, white url("../images/cat/cat-3.png") 10px 10px no-repeat; }
    body.cat .game-container .start {
      background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #3a1d1c), color-stop(100%, #2f1211));
      background: -webkit-linear-gradient(#3a1d1c, #2f1211);
      background: -moz-linear-gradient(#3a1d1c, #2f1211);
      background: -o-linear-gradient(#3a1d1c, #2f1211);
      background: linear-gradient(#3a1d1c, #2f1211);
      border: 1px solid #0e1212;
      border-bottom-color: #0e1212;
      text-shadow: 0 -1px 0 #4c9021;
      -webkit-box-shadow: inset 0 1px 0 0 #3a1d1c;
      -moz-box-shadow: inset 0 1px 0 0 #3a1d1c;
      box-shadow: inset 0 1px 0 0 #3a1d1c; }
      body.cat .game-container .start:hover {
        background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #2f1211), color-stop(100%, #3a1d1c));
        background: -webkit-linear-gradient(#2f1211, #3a1d1c);
        background: -moz-linear-gradient(#2f1211, #3a1d1c);
        background: -o-linear-gradient(#2f1211, #3a1d1c);
        background: linear-gradient(#2f1211, #3a1d1c);
        -webkit-box-shadow: inset 0 1px 0 0 #3a1d1c;
        -moz-box-shadow: inset 0 1px 0 0 #3a1d1c;
        box-shadow: inset 0 1px 0 0 #3a1d1c; }
      body.cat .game-container .start:active {
        border: 1px solid #231211;
        border-bottom: 1px solid #231211;
        -webkit-box-shadow: inset 0 0 8px 4px #231211, 0 1px 0 0 #131212;
        -moz-box-shadow: inset 0 0 8px 4px #231211, 0 1px 0 0 #131212;
        box-shadow: inset 0 0 8px 4px #231211, 0 1px 0 0 #131212; }
    body.cat .game-container .score {
      text-shadow: white 0px 0px 10px; }
      body.cat .game-container .score.shrink {
        color: #1f1f1f; }
      body.cat .game-container .score.grow {
        color: #812d2e; }
    body.cat .game-container .timer {
      color: white; }
    body.cat .game-container .highscore {
      color: white; }
    body.cat .game-container .multiplier .text {
      color: white; }
    body.cat .game-container .multiplier .bar {
      border: 2px solid white; }
      body.cat .game-container .multiplier .bar .progress {
        background: #d49299; }
  body.cat .theme {
    border: 3px solid #d49299;
    background: black url("../images/cat/icon.png") 5px 5px no-repeat; }

body.zombie {
  background: url("../images/bg.png"), -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #012212), color-stop(100%, #000600));
  background: url("../images/bg.png"), -webkit-linear-gradient(#012212, #000600);
  background: url("../images/bg.png"), -moz-linear-gradient(#012212, #000600);
  background: url("../images/bg.png"), -o-linear-gradient(#012212, #000600);
  background: url("../images/bg.png"), linear-gradient(#012212, #000600); }
  body.zombie .game-container {
    background: #012212 url("../images/zombie/cemetery-2.jpg") no-repeat; }
    body.zombie .game-container .target.front {
      background: white url("../images/zombie/target.png") 0 0 no-repeat; }
    body.zombie .game-container .target .remaining {
      background: #f44; }
    body.zombie .game-container .target.target-1 {
      background: white url("../images/zombie/zombie-1.png") 15px 10px no-repeat; }
      body.zombie .game-container .target.target-1.target-hit {
        background: url("../images/zombie/cross.png") 10px 10px no-repeat, white url("../images/zombie/zombie-1.png") 15px 10px no-repeat; }
    body.zombie .game-container .target.target-2 {
      background: white url("../images/zombie/zombie-2.png") 15px 10px no-repeat; }
      body.zombie .game-container .target.target-2.target-hit {
        background: url("../images/zombie/cross.png") 10px 10px no-repeat, white url("../images/zombie/zombie-2.png") 15px 10px no-repeat; }
    body.zombie .game-container .target.target-3 {
      background: white url("../images/zombie/zombie-3.png") 15px 10px no-repeat; }
      body.zombie .game-container .target.target-3.target-hit {
        background: url("../images/zombie/cross.png") 10px 10px no-repeat, white url("../images/zombie/zombie-3.png") 15px 10px no-repeat; }
    body.zombie .game-container .start {
      background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #0d4319), color-stop(100%, #07150e));
      background: -webkit-linear-gradient(#0d4319, #07150e);
      background: -moz-linear-gradient(#0d4319, #07150e);
      background: -o-linear-gradient(#0d4319, #07150e);
      background: linear-gradient(#0d4319, #07150e);
      -webkit-box-shadow: #0d4319 0 0 0 1px;
      -moz-box-shadow: #0d4319 0 0 0 1px;
      box-shadow: #0d4319 0 0 0 1px;
      border: 1px solid #0b2217;
      border-bottom: 1px solid #0b2217;
      text-shadow: 0 -1px 0 #4c9021; }
      body.zombie .game-container .start:hover {
        background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #07150e), color-stop(100%, #0d4319));
        background: -webkit-linear-gradient(#07150e, #0d4319);
        background: -moz-linear-gradient(#07150e, #0d4319);
        background: -o-linear-gradient(#07150e, #0d4319);
        background: linear-gradient(#07150e, #0d4319);
        -webkit-box-shadow: #0d4319 0 0 0 1px;
        -moz-box-shadow: #0d4319 0 0 0 1px;
        box-shadow: #0d4319 0 0 0 1px; }
      body.zombie .game-container .start:active {
        border: 1px solid #07230e;
        -webkit-box-shadow: #07230e 0 0 0 2px;
        -moz-box-shadow: #07230e 0 0 0 2px;
        box-shadow: #07230e 0 0 0 2px; }
    body.zombie .game-container .score.shrink {
      color: red; }
    body.zombie .game-container .score.grow {
      color: green; }
    body.zombie .game-container .timer {
      color: yellow; }
    body.zombie .game-container .highscore {
      color: yellow; }
    body.zombie .game-container .multiplier .text {
      color: yellow; }
    body.zombie .game-container .multiplier .bar {
      border: 2px solid yellow; }
      body.zombie .game-container .multiplier .bar .progress {
        background: #64c15c; }
  body.zombie .theme {
    border: 3px solid #0c3f18;
    background: url("../images/zombie/icon.png") 2px 3px no-repeat; }

* {
  padding: 0;
  margin: 0;
  font-family: sans-serif; }

html, body {
  width: 100%;
  height: 100%; }

.author {
  display: none;
  color: #fff;
  width: 110px;
  padding-left: 3px; }
  .author:hover {
    text-decoration: none; }

.addthis_toolbox {
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 0; }

body {
  overflow: hidden;
  -webkit-transition: all 1s linear;
  -moz-transition: all 1s linear;
  -o-transition: all 1s linear;
  transition: all 1s linear; }
  body.ipad div, body.ipad button {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none; }
  body.ipad .game-container {
    width: 1024px !important;
    height: 768px !important;
    top: 0;
    left: 0;
    margin: 0; }
  body.android div, body.android button {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none; }
  body.android .game-container {
    width: 100% !important;
    height: 100% !important;
    position: relative;
    top: 0;
    left: 0;
    margin: 0; }
  body .market-link {
    display: none; }
  body .install-button {
    display: none;
    position: absolute;
    bottom: 20px;
    right: 20px;
    line-height: 16px;
    padding: 5px 20px;
    border: 1px solid #2D53AF;
    cursor: pointer;
    color: white;
    font-size: 13px;
    font-weight: bold;
    text-align: center;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    text-transform: uppercase;
    -webkit-box-shadow: 0 2px 0 0 rgba(255, 255, 255, 0.06) inset, 0 2px 3px 0 rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 2px 0 0 rgba(255, 255, 255, 0.06) inset, 0 2px 3px 0 rgba(0, 0, 0, 0.2);
    box-shadow: 0 2px 0 0 rgba(255, 255, 255, 0.06) inset, 0 2px 3px 0 rgba(0, 0, 0, 0.2);
    background: #4d7bd6, -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #5689db), color-stop(100%, #4d7bd6));
    background: #4d7bd6, -webkit-linear-gradient(#5689db, #4d7bd6);
    background: #4d7bd6, -moz-linear-gradient(#5689db, #4d7bd6);
    background: #4d7bd6, -o-linear-gradient(#5689db, #4d7bd6);
    background: #4d7bd6, linear-gradient(#5689db, #4d7bd6);
    -webkit-border-radius: 2px;
    -khtml-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
    border-radius: 2px;
    outline: 0; }
    body .install-button:hover {
      border-color: #4076ff;
      background: #5c92ff, -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #669eff), color-stop(100%, #5286ff));
      background: #5c92ff, -webkit-linear-gradient(#669eff, #5286ff);
      background: #5c92ff, -moz-linear-gradient(#669eff, #5286ff);
      background: #5c92ff, -o-linear-gradient(#669eff, #5286ff);
      background: #5c92ff, linear-gradient(#669eff, #5286ff); }
  body .game-container {
    border: 1px solid #222;
    position: absolute;
    z-index: 2;
    -webkit-box-shadow: 0 0 10px black outset;
    -moz-box-shadow: 0 0 10px black outset;
    box-shadow: 0 0 10px black outset;
    overflow: hidden;
    position: absolute;
    width: 800px;
    height: 600px;
    top: 50%;
    left: 50%;
    margin: -300px 0 0 -400px; }
    body .game-container .overlay {
      position: absolute;
      z-index: 10;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      background: rgba(0, 0, 0, 0.4); }
    body .game-container .score {
      font-size: 75px;
      margin-top: 35px;
      font-weight: normal;
      color: #fff;
      text-align: center;
      text-shadow: black 0px 0px 10px;
      -webkit-transition: color 0.3s ease;
      -moz-transition: color 0.3s ease;
      -o-transition: color 0.3s ease;
      transition: color 0.3s ease;
      z-index: 9; }
    body .game-container.sound-enabled .sound {
      display: block; }
    body .game-container .sound {
      display: none;
      position: absolute;
      bottom: 0px;
      left: 10px;
      width: 118px;
      height: 118px;
      z-index: 11;
      cursor: pointer; }
      body .game-container .sound.on {
        background: transparent url("../images/sound-on.png") 0 0 no-repeat; }
      body .game-container .sound.off {
        background: transparent url("../images/sound-off.png") 0 0 no-repeat; }
    body .game-container .theme {
      position: absolute;
      bottom: 10px;
      right: 10px;
      width: 40px;
      height: 40px;
      background-color: silver;
      border-radius: 25px;
      z-index: 11; }
    body .game-container .highscore {
      font-size: 25px;
      text-align: left;
      text-shadow: black 0px 0px 10px;
      z-index: 9;
      position: absolute;
      top: 5px;
      left: 15px; }
    body .game-container .timer {
      position: absolute;
      top: 50px;
      right: 20px;
      font-size: 40px;
      text-align: center;
      text-shadow: black 0px 0px 10px;
      z-index: 9; }
    body .game-container .start {
      position: absolute;
      top: 50%;
      left: 50%;
      width: 200px;
      height: 50px;
      margin: -25px 0 0 -100px;
      z-index: 11;
      -webkit-border-radius: 10px;
      -khtml-border-radius: 10px;
      -moz-border-radius: 10px;
      -ms-border-radius: 10px;
      -o-border-radius: 10px;
      border-radius: 10px;
      color: #fff;
      font-size: 20px;
      font-weight: bold;
      line-height: 1;
      padding: 7px 0 8px 0;
      text-align: center; }
      body .game-container .start:hover {
        cursor: pointer; }
    body .game-container .target {
      padding: 0;
      position: absolute;
      z-index: 1;
      width: 100px;
      height: 100px;
      -webkit-border-radius: 50px;
      -khtml-border-radius: 50px;
      -moz-border-radius: 50px;
      -ms-border-radius: 50px;
      -o-border-radius: 50px;
      border-radius: 50px;
      background-color: #fff;
      cursor: pointer; }
      body .game-container .target.front .remaining {
        display: none; }
      body .game-container .target .remaining {
        display: none;
        width: 40px;
        height: 3px;
        position: absolute;
        bottom: 6px;
        left: 50%;
        margin-left: -20px;
        -webkit-border-radius: 2px;
        -khtml-border-radius: 2px;
        -moz-border-radius: 2px;
        -ms-border-radius: 2px;
        -o-border-radius: 2px;
        border-radius: 2px; }
    body .game-container .multiplier {
      position: absolute;
      top: 10px;
      right: 20px; }
      body .game-container .multiplier .text {
        font-size: 35px;
        font-weight: bold;
        float: left; }
      body .game-container .multiplier .bar {
        width: 200px;
        height: 25px;
        margin: 5px 0 0 10px;
        float: left; }
        body .game-container .multiplier .bar .progress {
          -webkit-transition: width 0.1s linear;
          -moz-transition: width 0.1s linear;
          -o-transition: width 0.1s linear;
          transition: width 0.1s linear;
          height: inherit;
          width: 100%; }
  body .theme {
    cursor: pointer; }
